/notebooks/pretrained_checkpoints/*
/notebooks/pytorch-mask-r-cnn-instance-segmentation/*
/notebooks/Datasets/*
/notebooks/.ipynb_checkpoints/*
/notebooks/*.ttf
/notebooks/*.jpg
/notebooks/*.png
/notebooks/*.onnx
/notebooks/__pycache__/*


# Temporary
/notebooks/pytorch-mask-r-cnn-training (copy).ipynb
/notebooks/pytorch-mask-r-cnn-training-windows-arc.ipynb